.booking {
    display: flex;
}
.booking2 {
    display: flex;
}

.Room {
    border: 1px solid yellow;
    width: 360px;
    height: 60px;        
    margin:30px;
    background-image: url(./../../Image/Rectangle\ 26.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Room2 {
    border: 1px solid yellow;
    width: 360px;
    height: 80px;        
    margin:30px;
    background-image: url(./../../Image/Rectangle\ 28.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Room3 {
    border: 1px solid yellow;
    width: 360px;
    height: 60px;         
    margin:30px;
    background-image: url(./../../Image/Rectangle\ 27.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.Article{
    margin-top: 30px;
}